/* Menu */
.topnav-menu.active {
  height: 50rem;
}

.menu-icon {
  position: relative;
  background: none;
  cursor: pointer;
  color: inherit;
  display: block;
  font: inherit;
  border: none;
  padding: 5px;
}

.bar {
  background-color: white;
  height: 5px;
  width: 50px;
  margin: 6px 0;
  transition: 0.8s;
}

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(-405deg) translate(-7px, 8px);
}

.menu-icon.active .bar:nth-child(2) {
  width: 0;
  background-color: hsl(240, 65%, 49%);
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(405deg) translate(-7px, -8px);
}

/* Filtrador */

.filter-open {
  height: 200px;
}

.topnav-filter-form {
  display: flex;
  justify-content: center;
}

.topnav-filter-form form {
  position: absolute;
  margin-right: 0;
  width: 80%;
  gap: 3rem;
  top: 70px;
}

.topnav-filter-form input {
  width: 60%;
}

.topnav-filter-form label {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: hsl(0, 0%, 96%);
  font-weight: bolder;
  text-indent: 10px;
  font-size: 26px;
}

.filter-input button {
  background-color: whitesmoke;
}

.filter-input button::before {
  background-color: orange;
}

@media only screen and (max-width: 1550px) {

  .topnav-filter-form form {
    gap: 2rem;
  }

  .topnav-filter-form label {
    font-size: 18px;
  }

  .topnav-filter-form input {
    width: 50%;
  }

  @media only screen and (max-width: 1280px) {

    .topnav-filter-form label {
      font-size: 16px;
    }

    .topnav-filter-form input {
      width: 160px;
    }

    @media only screen and (max-width: 769px) {
      .topnav-filter-form form {
        flex-direction: column;
      }

      .topnav-filter-form label {
        font-size: 14px;
      }

      .topnav-filter-form input {
        width: 100%;
      }

      .filter-open {
        height: 25rem;
      }
    }
  }
}