.menu-icon {
    display: none;
  }

  .menu-btn {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 15px;
  }

  .bar {
    background-color: white;
    height: 5px;
    width: 50px; /* Ancho de las barras, ajusta según sea necesario */
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu-icon:checked + .menu-btn .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 8px);
  }

  .menu-icon:checked + .menu-btn .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon:checked + .menu-btn .bar:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -8px);
  }